/* Component styles */
/* line 5, ../scss/component.scss */
h1 span.heading-3d {
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
  color: #eaeaea;
  transform: scale(1.4) translateY(-0.25em) rotateZ(8deg);
  text-shadow: 0.01em 0.02em 0.01em rgba(150, 150, 150, 0.5), -0.01em -0.01em 0.01em white, 0 0 1em rgba(0, 0, 0, 0.15), 0.05em 0.2em 0.08em rgba(0, 0, 0, 0.3), 0 0.15em 0.35em rgba(0, 0, 0, 0.3), 0 0.6em 1.6em rgba(0, 0, 0, 0.3), 0 0.2em 2.04em white;
  padding: 0;
}